<!-- <iframe src="assets/Holi.mp3" allow="autoplay" style="display: none"></iframe>
<audio id="player" autoplay hidden loop>
  <source src="assets/Holi.mp3" type="audio/mpeg" />
</audio> -->
<!--
<marquee class="m1" behavior="scroll" direction="up" scrolldelay="0">
  <br />
  <img
    src="assets/pichkari.png"
    style="width: 80px"
    width="80"
    height="80"
  /><br /><br />
  <img
    src="assets/pichkari.png"
    style="width: 80px"
    width="80"
    height="80"
  /><br /><br />
  <img
    src="assets/pichkari.png"
    style="width: 80px"
    width="80"
    height="80"
  /><br /><br />
  <img
    src="assets/pichkari.png"
    style="width: 80px"
    width="80"
    height="80"
  /><br /><br />
  <img
    src="assets/pichkari.png"
    style="width: 80px"
    width="80"
    height="80"
  /><br /><br />
  <img
    src="assets/pichkari.png"
    style="width: 80px"
    width="80"
    height="80"
  /><br /><br />
  <img
    src="assets/pichkari.png"
    style="width: 80px"
    width="80"
    height="80"
  /><br /><br />
  <img
    src="assets/pichkari.png"
    style="width: 80px"
    width="80"
    height="80"
  /><br /><br />
  <img
    src="assets/pichkari.png"
    style="width: 80px"
    width="80"
    height="80"
  /><br /><br />
  <img
    src="assets/pichkari.png"
    style="width: 80px"
    width="80"
    height="80"
  /><br /><br />
  <img
    src="assets/pichkari.png"
    style="width: 80px"
    width="80"
    height="80"
  /><br /><br />
  <img
    src="assets/pichkari.png"
    style="width: 80px"
    width="80"
    height="80"
  /><br /><br />
  <img
    src="assets/pichkari.png"
    style="width: 80px"
    width="80"
    height="80"
  /><br /><br />
  <img
    src="assets/pichkari.png"
    style="width: 80px"
    width="80"
    height="80"
  /><br /><br />
  <img
    src="assets/pichkari.png"
    style="width: 80px"
    width="80"
    height="80"
  /><br /><br />
  <img
    src="assets/pichkari.png"
    style="width: 80px"
    width="80"
    height="80"
  /><br /><br />
  <img
    src="assets/pichkari.png"
    style="width: 80px"
    width="80"
    height="80"
  /><br /><br />
  <img
    src="assets/pichkari.png"
    style="width: 80px"
    width="80"
    height="80"
  /><br /><br />
  <img
    src="assets/pichkari.png"
    style="width: 80px"
    width="80"
    height="80"
  /><br /><br />
  <img
    src="assets/pichkari.png"
    style="width: 80px"
    width="80"
    height="80"
  /><br /><br />
  <img
    src="assets/pichkari.png"
    style="width: 80px"
    width="80"
    height="80"
  /><br /><br />
  <img
    src="assets/pichkari.png"
    style="width: 80px"
    width="80"
    height="80"
  /><br /><br />
  <img
    src="assets/pichkari.png"
    style="width: 80px"
    width="80"
    height="80"
  /><br /><br />
  <img
    src="assets/pichkari.png"
    style="width: 80px"
    width="80"
    height="80"
  /><br /><br />
  <img
    src="assets/pichkari.png"
    style="width: 80px"
    width="80"
    height="80"
  /><br /><br />
  <img
    src="assets/pichkari.png"
    style="width: 80px"
    width="80"
    height="80"
  /><br /><br />
  <img
    src="assets/pichkari.png"
    style="width: 80px"
    width="80"
    height="80"
  /><br /><br />
  <img
    src="assets/pichkari.png"
    style="width: 80px"
    width="80"
    height="80"
  /><br /><br />
  <img
    src="assets/pichkari.png"
    style="width: 80px"
    width="80"
    height="80"
  /><br /><br />
  <img
    src="assets/pichkari.png"
    style="width: 80px"
    width="80"
    height="80"
  /><br /><br />
  <img
    src="assets/pichkari.png"
    style="width: 80px"
    width="80"
    height="80"
  /><br /><br />
  <img
    src="assets/pichkari.png"
    style="width: 80px"
    width="80"
    height="80"
  /><br /><br />
</marquee>

<marquee class="m2" behavior="scroll" direction="down" scrolldelay="0">
  <br />
  <img
    src="assets/pichkari.png"
    style="width: 80px"
    width="80"
    height="80"
  /><br /><br />
  <img
    src="assets/pichkari.png"
    style="width: 80px"
    width="80"
    height="80"
  /><br /><br />
  <img
    src="assets/pichkari.png"
    style="width: 80px"
    width="80"
    height="80"
  /><br /><br />
  <img
    src="assets/pichkari.png"
    style="width: 80px"
    width="80"
    height="80"
  /><br /><br />
  <img
    src="assets/pichkari.png"
    style="width: 80px"
    width="80"
    height="80"
  /><br /><br />
  <img
    src="assets/pichkari.png"
    style="width: 80px"
    width="80"
    height="80"
  /><br /><br />
  <img
    src="assets/pichkari.png"
    style="width: 80px"
    width="80"
    height="80"
  /><br /><br />
  <img
    src="assets/pichkari.png"
    style="width: 80px"
    width="80"
    height="80"
  /><br /><br />
  <img
    src="assets/pichkari.png"
    style="width: 80px"
    width="80"
    height="80"
  /><br /><br />
  <img
    src="assets/pichkari.png"
    style="width: 80px"
    width="80"
    height="80"
  /><br /><br />
  <img
    src="assets/pichkari.png"
    style="width: 80px"
    width="80"
    height="80"
  /><br /><br />
  <img
    src="assets/pichkari.png"
    style="width: 80px"
    width="80"
    height="80"
  /><br /><br />
  <img
    src="assets/pichkari.png"
    style="width: 80px"
    width="80"
    height="80"
  /><br /><br />
  <img
    src="assets/pichkari.png"
    style="width: 80px"
    width="80"
    height="80"
  /><br /><br />
  <img
    src="assets/pichkari.png"
    style="width: 80px"
    width="80"
    height="80"
  /><br /><br />
  <img
    src="assets/pichkari.png"
    style="width: 80px"
    width="80"
    height="80"
  /><br /><br />
  <img
    src="assets/pichkari.png"
    style="width: 80px"
    width="80"
    height="80"
  /><br /><br />
  <img
    src="assets/pichkari.png"
    style="width: 80px"
    width="80"
    height="80"
  /><br /><br />
  <img
    src="assets/pichkari.png"
    style="width: 80px"
    width="80"
    height="80"
  /><br /><br />
  <img
    src="assets/pichkari.png"
    style="width: 80px"
    width="80"
    height="80"
  /><br /><br />
  <img
    src="assets/pichkari.png"
    style="width: 80px"
    width="80"
    height="80"
  /><br /><br />
  <img
    src="assets/pichkari.png"
    style="width: 80px"
    width="80"
    height="80"
  /><br /><br />
  <img
    src="assets/pichkari.png"
    style="width: 80px"
    width="80"
    height="80"
  /><br /><br />
  <img
    src="assets/pichkari.png"
    style="width: 80px"
    width="80"
    height="80"
  /><br /><br />
  <img
    src="assets/pichkari.png"
    style="width: 80px"
    width="80"
    height="80"
  /><br /><br />
  <img
    src="assets/pichkari.png"
    style="width: 80px"
    width="80"
    height="80"
  /><br /><br />
  <img
    src="assets/pichkari.png"
    style="width: 80px"
    width="80"
    height="80"
  /><br /><br />
  <img
    src="assets/pichkari.png"
    style="width: 80px"
    width="80"
    height="80"
  /><br /><br />
  <img
    src="assets/pichkari.png"
    style="width: 80px"
    width="80"
    height="80"
  /><br /><br />
  <img
    src="assets/pichkari.png"
    style="width: 80px"
    width="80"
    height="80"
  /><br /><br />
  <img
    src="assets/pichkari.png"
    style="width: 80px"
    width="80"
    height="80"
  /><br /><br />
  <img
    src="assets/pichkari.png"
    style="width: 80px"
    width="80"
    height="80"
  /><br /><br />
</marquee> -->

<div class="imp-bg">
  <div class="container center-div">
    <div class="row">
      <div class="offset-sm-3 col-sm-4 offset-md-4 col-md-3">
        <div class="area">{{ name }}</div>
        <img src="assets/holi-1.png" alt="" />
        <img src="assets/holi-2.png" alt="" />
        <img src="assets/holi.png" alt="" />
        <!-- <img src="assets/holi-message.png" alt="" /> -->
        <div
          class="wishMessage"
          style="
            text-shadow: 1px 1px 3px silver, 1px 1px 3px silver,
              -1px -1px 3px silver, -1px -1px 3px silver;
          "
        >
          <p
            style="
              text-shadow: 1px 1px 3px black, 1px 1px 3px black,
                -1px -1px 3px black, -1px -1px 3px black;
              color: #ff9933;
              margin: auto;
            "
          >
            <span>राधा के संग कृष्णा की होली,</span>
          </p>
          <p
            style="
              text-shadow: 1px 1px 3px black, 1px 1px 3px black,
                -1px -1px 3px black, -1px -1px 3px black;
              color: pink;
            "
          >
            <span>लायी है प्रेम की बोली|</span>
          </p>
          <p
            style="
              text-shadow: 1px 1px 3px black, 1px 1px 3px black,
                -1px -1px 3px black, -1px -1px 3px black;
              color: #00ffbf;
              margin: auto;
            "
          >
            <span>रंगीले आसमानों से भरी होली,</span>
          </p>
          <p
            style="
              text-shadow: 1px 1px 3px orange, 1px 1px 3px orange,
                -1px -1px 3px orange, -1px -1px 3px orange;
              color: #8b008b;
            "
          >
            <span>लायी है खुशियों की टोली|</span>
          </p>
          <p
            style="
              text-shadow: 1px 1px 3px #ff0037, 1px 1px 3px #ff0037,
                -1px -1px 3px #ff0037, -1px -1px 3px #ff0037;
              color: #ffc107;
            "
          >
            <span>होली की हार्दिक शुभकामनाएं|</span>
          </p>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="offset-sm-3 col-sm-4 offset-md-3 col-md-6">
        <marquee>
          <p
            style="
              text-shadow: 1px 1px 3px #ffeb3b, 1px 1px 3px #ffeb3b,
                -1px -1px 3px #ffeb3b, -1px -1px 3px #ffeb3b;
              color: #e91e63;
            "
          >
            <span>{{ name }} की तरफ से होली की हार्दिक शुभकामनाएं|</span>
          </p>
        </marquee>
      </div>
    </div>

    <br /><br />
    <br />
  </div>
</div>

<div class="enter-name" *ngIf="!show">
  <input
    class="animated pulse infinite"
    type="name"
    required=""
    maxlength="50"
    name="n"
    [(ngModel)]="name"
  />
  <button
    class="btn animated shake infinite"
    (click)="onEnterNameClick()"
    type="button"
  >
    <span>👉 </span>
  </button>
</div>

<div class="send-message" *ngIf="show && send">
  <button
    class="btn animated shake infinite"
    (click)="onSendClick()"
    type="button"
  >
    <img
      src="assets/whatsapp.png"
      alt=""
      style="width: 50px"
      width="50"
      height="50"
    />
    &nbsp;
    <span> 👉 यहाँ से सबको भेजो 👈 </span>
    &nbsp;
    <img
      src="assets/whatsapp.png"
      alt=""
      style="width: 50px"
      width="50"
      height="50"
    />
  </button>
</div>
